:root {
    --siteColor: #25d366;
    --siteLightColor: #dcf8c6;
    --siteLightColor2: #128c7e;
}

.symbol.symbol-light-site .symbol-label {
    background-color: var(--siteLightColor);
    color: var(--siteColor);
}

.btn-site {
    background: var(--siteColor);
    color: var(--white);
}

.btn-site:hover {
    background: var(--siteLightColor);
    color: var(--siteColor);
}

.text-site {
    color: var(--siteColor) !important;
}

.text-hover-site {
    color: var(--siteLightColor2) !important;
}

.btn-light-site {
    background: var(--siteLightColor);
    color: var(--siteColor);
}

.btn-light-site-2 {
    background: var(--siteLightColor);
    color: var(--siteColor);
}

.btn-light-site:hover {
    background: var(--siteColor);
    color: var(--white) !important;
}

.btn-light-site-2:hover {
    background: var(--siteLightColor2);
    color: var(--white);
}

.btn-site-2 {
    background: var(--siteLightColor2);
    color: var(--white) !important;
}

a.text-hover-success:hover, .text-hover-success:hover {
    color: var(--siteColor) !important;
}

.bg-site {
    background: var(--siteColor);
}

.bg-light-site {
    background: var(--siteLightColor);
}

.bg-light-site-2 {
    background: var(--siteLightColor2);
}

.hd-card-body {
    padding: 2rem 2.25rem !important;
}

.hd-label-bold {
    font-weight: bold !important;
}

.card-width-50 {
    width: 50%;
}

.hd-big-title {
    font-size: 1.5rem;
}

.hd-margin-lr-auto {
    margin-left: auto;
    margin-right: auto;
}

.hd-card-details {
    position: absolute;
    right: 24px;
    font-size: 60px;
    bottom: 0px;
    font-weight: bolder;
    height: 100%;
}

.hd-visual-btn {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.hd-visual-icon {
    font-size: 20px;
    padding: 1rem 1rem;
    cursor: pointer;
    text-align: center;
}

.hd-visual-icon.active {
    background: var(--info);
    color: white;
    border: 1px solid var(--info);
    border-radius: 10px 0px 0px 10px;
}

.hd-visual-icon.active2 {
    background: var(--info);
    color: white;
    border: 1px solid var(--info);
    border-radius: 0px 10px 10px 0px;
}

.hd-visual-list {
    display: inline-flex;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 2rem;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: var(--dark);
    border-color: var(--dark);
    border-radius: 5px;
    transition: .5s;
}

.nav-link.active i {
    color: white !important;
}

.hd-check-icon i {
    padding: 0px !important;
}

.hd-table-btn {
    padding: 5px 10px !important;
}

#hd-quoteImage, .hd-table-image-sample {
    width: 300px;
    height: auto;
}

.hd-required {
    font-weight: bolder;
    color: red;
}

.hd_a_hover:hover {
    color: white !important;
}

.fc-time, .fc-title, .fc-description {
    color: white !important;
}

.fc-header .fc-title {
    color: #232323 !important;
}

.searchByDate {
    display: flex;
    align-items: center;
    justify-content: start;
}

.hd-view-document-download {
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid;
    background: #333;
    color: white;
    cursor: pointer;
}

.header-top.hd-header-top {
    background: var(--siteColor) !important;
}

#hd_footer {
    background: var(--siteColor) !important;
}

.hd-text-white {
    color: white !important;
}

.hd-menu-text-white {
    color: #fff !important;
}

.header-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
    color: #fff !important;
    border-bottom: 2px solid #fff !important;
}

.hd-menu-text-white:hover {
    color: #fff !important;
}

.menu-link:hover {
    color: #fff !important;
}

#hd_web_content {
    background: var(--siteLightColor);
}

.hd-request-quote-btn:hover {
    color: white !important;
}

.hd-alert {
    border-radius: 0px !important;
    background: lightgray !important;
    border-color: lightgrey !important;
    color: #333 !important;
}

.hd-alert-danger {
    border-radius: 0px !important;
    background: var(--danger) !important;
    border-color: var(--danger) !important;
    color: white !important;
}

.hd-alert-danger-link {
    font-weight: bolder;
    color: white;
}

.hd-alert-danger-link:hover {
    font-weight: bolder;
    color: #232323;
}

.hd-dark-dropdown-item.active, .hd-dark-dropdown-item:active {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #333 !important;
}

.hd-hide {
    display: none;
}

#hd_header_mobile {
    background: var(--siteColor) !important;
}

.header-mobile .burger-icon span::before, .header-mobile .burger-icon span::after {
    background-color: white !important;
}

.hd-footer-link:hover {
    color: grey !important;
}

.hd-mobile-header-icon  {
    color: white !important;
    font-size: 20px !important;
}



.wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="done"] .wizard-label .wizard-title, .wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-label .wizard-title {
    color: #181C32 !important;
}

.wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="done"] .wizard-label .wizard-icon, .wizard.wizard-1 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-label .wizard-icon {
    color: #181C32 !important;
}

.menu-item:hover .menu-text {
    border-bottom: 2px solid white !important;
}

.menu-item:hover .hd-admin-menu-text.menu-text {
    border-bottom: none !important;
}

.staff-earning-details {
    padding: 1rem;
    border-radius: 5px;
}

.hd-overview-card {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.hd-overview-month {
    font-weight: 200;
    font-size: 1.5rem;
}

.hd-overview-value {
    font-size: 2rem;
    font-weight: bolder;
}

.hd-spinner {
    height: 15px;
    width: 15px;
    margin: 0px 10px;
}

#hd_web_wrapper {
    background: #333 !important;
}

.navi-item-site:hover .navi-text {
    color: var(--siteColor) !important;
    font-weight: bold !important;
    transition: .3s;
}

.btn-hover-light-site {
    background: var(--siteLightColor);
    color: var(--siteColor);
}

.hd-user-request-btn:hover {
    color: white !important;
}

.svg-icon.svg-icon-site svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: var(--siteColor) !important;
}

@media (max-width: 991.98px) {
    .header-mobile-fixed .content {
        padding-top: 60px;
    }
}


